
<div class="card">

  <div class="card-body">
    

    <h2 class="card-title">Article</h1>
    <p><%= @article.title %></p>
    <p><%= @article.body %></p>

    <%= link_to "Article一覧", articles_path, class: 'btn btn-primary' %>

  </div>

</div>

